[Desktop Entry]
Encoding=UTF-8
Name=LYBERIX
Comment=LYBERIX P2P Cryptocurrency
Comment[fr]=LYBERIX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LYBERIX, eşten eşe kriptografik sanal para birimi
Exec=lyberix-qt %u
Terminal=false
Type=Application
Icon=lyberix128
MimeType=x-scheme-handler/lyberix;
Categories=Office;Finance;
